#elan {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  width: 100%;
  background: #F6F7F8; }
  #elan form h2 {
    text-align: center; }
  #elan form .elanContentItem .elanRow .elanRowLeft p {
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 18px;
    font-weight: normal;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
    font-size: 14px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #elan form .elanContentItem .elanRow .elanRowLeft p {
        font-size: 12px; } }
    #elan form .elanContentItem .elanRow .elanRowLeft p span {
      color: #c51e2b; }
  #elan form .elanContentItem .elanRow .elanRowRight select {
    background: #ffb12c;
    vertical-align: middle;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px; }
  #elan form .elanContentItem .elanRow .elanRowRight input {
    background: #ffb12c;
    vertical-align: middle;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px; }
  #elan form .elanContentItem .elanRow .elanRowRight textarea {
    border-color: #ffb12c;
    border-radius: 5px;
    height: 95px;
    resize: vertical;
    position: relative;
    top: 1px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal; }
  #elan form .elanContentItem .elanRow .elanRowCheck {
    top: 10px; }
    #elan form .elanContentItem .elanRow .elanRowCheck label {
      top: -8px;
      position: relative; }
      #elan form .elanContentItem .elanRow .elanRowCheck label:last-child {
        top: -17px; }
      #elan form .elanContentItem .elanRow .elanRowCheck label input {
        vertical-align: middle;
        border-radius: 50%;
        width: 20px;
        height: 14px; }
      #elan form .elanContentItem .elanRow .elanRowCheck label span {
        cursor: pointer;
        position: relative;
        top: 1px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: normal; }
  #elan form .elanContentItem .elanRow .elanRowKredit {
    padding-top: 20px; }
    #elan form .elanContentItem .elanRow .elanRowKredit label input {
      vertical-align: middle;
      border-radius: 50%;
      width: 30px;
      height: 19px; }
    #elan form .elanContentItem .elanRow .elanRowKredit label span {
      cursor: pointer;
      position: relative;
      top: 3px;
      vertical-align: middle;
      font-size: 16px;
      font-weight: normal; }
  #elan form .tehcizat {
    clear: both;
    padding-top: 50px;
    width: 100%; }
    #elan form .tehcizat h1 {
      font-size: 28px; }
      @media (max-width: 767px) {
        #elan form .tehcizat h1 {
          text-align: center; } }
    @media (max-width: 479px) {
      #elan form .tehcizat .tehcizatItem {
        width: 80% !important;
        margin: 0 auto !important;
        margin-left: 20px !important;
        margin-top: 20px !important; } }
    @media (min-width: 479px) and (max-width: 767px) {
      #elan form .tehcizat .tehcizatItem {
        padding-left: 30px !important;
        margin-top: 40px !important; }
        #elan form .tehcizat .tehcizatItem:nth-child(4) {
          margin-top: -95px !important; } }
    #elan form .tehcizat .tehcizatItem label {
      margin-top: 5px; }
      #elan form .tehcizat .tehcizatItem label span {
        cursor: pointer;
        margin-left: 10px; }
  #elan form .shekil h1 {
    margin-bottom: 15px;
    font-size: 28px; }
    @media (max-width: 767px) {
      #elan form .shekil h1 {
        margin-left: 15px; } }
  #elan form .shekil .fotoContent .addFoto {
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 114px;
    height: 86px;
    background-color: #ffb12c;
    text-align: center; }
    @media (max-width: 767px) {
      #elan form .shekil .fotoContent .addFoto {
        margin-left: 15px; } }
    #elan form .shekil .fotoContent .addFoto i {
      font-size: 45px;
      position: relative;
      top: 23px; }
  #elan form .shekil .fotoContent .addedFoto {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    clear: both;
    width: 100%; }
    #elan form .shekil .fotoContent .addedFoto .addedFotoItem {
      margin-left: 10px;
      margin-top: 10px;
      width: 111px;
      height: 110px; }
      #elan form .shekil .fotoContent .addedFoto .addedFotoItem .imgDiv {
        overflow: hidden;
        width: 111px;
        height: 84px; }
        #elan form .shekil .fotoContent .addedFoto .addedFotoItem .imgDiv img {
          width: 100%;
          height: 100%;
          border: 1px solid lightgray;
          box-sizing: border-box;
          width: 111px;
          height: 84; }
      #elan form .shekil .fotoContent .addedFoto .addedFotoItem .fotoIcon i {
        padding: 5px;
        cursor: pointer; }
        #elan form .shekil .fotoContent .addedFoto .addedFotoItem .fotoIcon i:hover {
          background: yellow; }
        #elan form .shekil .fotoContent .addedFoto .addedFotoItem .fotoIcon i:first-child {
          color: red;
          font-size: 18px; }
        #elan form .shekil .fotoContent .addedFoto .addedFotoItem .fotoIcon i:nth-child(2) {
          float: right; }
        #elan form .shekil .fotoContent .addedFoto .addedFotoItem .fotoIcon i:nth-child(3) {
          float: right; }
  @media (min-width: 768px) {
    #elan form .shekil .fotoContent .shekilTxt .shekilTxtItem:first-child {
      margin-left: -15px; } }
  #elan form .shekil .fotoContent .shekilTxt .shekilTxtItem ul {
    padding: 0;
    margin-top: 30px; }
    #elan form .shekil .fotoContent .shekilTxt .shekilTxtItem ul li {
      margin-top: 15px; }
      #elan form .shekil .fotoContent .shekilTxt .shekilTxtItem ul li span {
        color: #c51e2b; }
  #elan form .video h1 {
    margin-bottom: 15px;
    font-size: 28px; }
    @media (max-width: 767px) {
      #elan form .video h1 {
        margin-left: 15px; } }
  #elan form .video .videoContent .addVideo {
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 114px;
    height: 86px;
    background-color: #ffb12c;
    text-align: center; }
    @media (max-width: 767px) {
      #elan form .video .videoContent .addVideo {
        margin-left: 15px; } }
    #elan form .video .videoContent .addVideo i {
      font-size: 45px;
      position: relative;
      top: 23px; }
  #elan form .video .videoContent .addedVideo {
    margin: 0 auto;
    width: 360px;
    clear: both; }
    @media (max-width: 380px) {
      #elan form .video .videoContent .addedVideo {
        width: 90%; } }
    #elan form .video .videoContent .addedVideo .addedVideoItem {
      position: relative;
      display: none;
      margin-top: 30px; }
      #elan form .video .videoContent .addedVideo .addedVideoItem i {
        font-size: 18px;
        color: red;
        cursor: pointer;
        top: 0;
        right: 0;
        position: absolute; }
  #elan form .elaqe {
    clear: both;
    padding-top: 20px; }
    #elan form .elaqe h1 {
      margin-bottom: 15px;
      font-size: 28px; }
      @media (max-width: 767px) {
        #elan form .elaqe h1 {
          margin-left: 15px; } }
    #elan form .elaqe .elaqeItem .elaqeRowLeft p {
      line-height: 15px;
      margin-bottom: 0;
      margin-top: 18px;
      font-weight: normal;
      color: #333;
      font-weight: normal;
      vertical-align: middle;
      font-size: 14px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #elan form .elaqe .elaqeItem .elaqeRowLeft p {
          font-size: 12px; } }
      #elan form .elaqe .elaqeItem .elaqeRowLeft p span {
        color: #c51e2b; }
    #elan form .elaqe .elaqeItem .elaqeRowRight p {
      position: relative;
      top: -10px; }
    #elan form .elaqe .elaqeItem .elaqeRowRight select {
      background: #ffb12c;
      vertical-align: middle;
      height: 32px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0 10px;
      box-sizing: border-box;
      color: #333;
      font-size: 14px; }
    #elan form .elaqe .elaqeItem .elaqeRowRight input {
      background: #ffb12c;
      vertical-align: middle;
      height: 32px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0 10px;
      box-sizing: border-box;
      color: #333;
      font-size: 14px; }
    #elan form .elaqe .elaqeItem .elaqeRowRight textarea {
      border-color: #ffb12c;
      border-radius: 5px;
      height: 95px;
      resize: vertical;
      position: relative;
      top: 1px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: normal; }
    #elan form .elaqe .btnAdd {
      top: 20px;
      padding: 9px 12px !important;
      font-size: 16px !important; }
      @media (max-width: 767px) {
        #elan form .elaqe .btnAdd {
          margin: 0 auto;
          left: 15px; } }

#search {
  padding-top: 50px;
  width: 100%;
  background: #F6F7F8; }
  #search form h2 {
    text-align: center; }
  #search form .search-left select {
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    background-color: #ffb12c;
    border: 2px solid gray;
    margin-top: 20px; }
  #search form .search-left .multiselect {
    cursor: pointer;
    width: 100%; }
    #search form .search-left .multiselect .selectbox {
      position: relative; }
      #search form .search-left .multiselect .selectbox select {
        width: 100%; }
        @media (min-width: 768) and (max-width: 991px) {
          #search form .search-left .multiselect .selectbox select option {
            font-size: 8px !important; } }
        @media (min-width: 480) and (max-width: 767px) {
          #search form .search-left .multiselect .selectbox select option {
            font-size: 13px !important; } }
        @media (max-width: 479px) {
          #search form .search-left .multiselect .selectbox select option {
            font-size: 12px !important; } }
      #search form .search-left .multiselect .selectbox .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    #search form .search-left .multiselect .checkboxes {
      box-sizing: border-box;
      border-radius: 2px;
      width: calc(100% - 30px);
      background: #fff;
      position: absolute;
      z-index: 5;
      display: none;
      border: 2px solid gray; }
      @media (max-width: 992px) {
        #search form .search-left .multiselect .checkboxes:nth-child(6), #search form .search-left .multiselect .checkboxes:nth-child(7) {
          width: 50%; } }
      #search form .search-left .multiselect .checkboxes label {
        cursor: pointer;
        display: block;
        background: #ffb12c;
        margin-bottom: 2px;
        font-size: 17px; }
        #search form .search-left .multiselect .checkboxes label:last-child {
          margin-bottom: 0px; }
        #search form .search-left .multiselect .checkboxes label:hover {
          background-color: #1e90ff; }
        #search form .search-left .multiselect .checkboxes label input {
          width: 30px;
          height: 19px; }
          @media (min-width: 768) and (max-width: 991px) {
            #search form .search-left .multiselect .checkboxes label input {
              width: 30px;
              height: 19px; } }
          @media (min-width: 480) and (max-width: 767px) {
            #search form .search-left .multiselect .checkboxes label input {
              width: 25px;
              height: 17px; } }
          @media (max-width: 479px) {
            #search form .search-left .multiselect .checkboxes label input {
              width: 20px;
              height: 13px; } }
        #search form .search-left .multiselect .checkboxes label span {
          top: -3px;
          position: relative;
          vertical-align: middle;
          font-weight: normal; }
          @media (min-width: 768) and (max-width: 991px) {
            #search form .search-left .multiselect .checkboxes label span {
              font-size: 15px !important; } }
          @media (min-width: 480) and (max-width: 767px) {
            #search form .search-left .multiselect .checkboxes label span {
              font-size: 13px !important;
              top: -2px; } }
          @media (max-width: 479px) {
            #search form .search-left .multiselect .checkboxes label span {
              font-size: 12px !important;
              top: -1px; } }
  @media (max-width: 992px) {
    #search form .search-left .multiselect2 {
      width: calc(50% - 15px);
      float: left; }
      #search form .search-left .multiselect2:nth-child(2) {
        float: right; }
      #search form .search-left .multiselect2 .checkboxes {
        width: calc(50% - 30px) !important; } }
  #search form .search-left .bankNovu {
    clear: both; }
    #search form .search-left .bankNovu label input {
      width: 25px;
      height: 17px; }
    #search form .search-left .bankNovu label span {
      cursor: pointer;
      position: relative;
      top: -3px;
      margin-left: 10px;
      font-size: 18px;
      font-weight: normal; }
  #search form .mainInput {
    margin-top: 40px;
    margin-bottom: 40px; }
    #search form .mainInput #inputs h6 {
      display: block;
      margin-bottom: 2px;
      font-size: 17px;
      color: #525252;
      text-align: center; }
    #search form .mainInput #inputs .inputItem1 {
      text-align: center;
      margin: 0 auto; }
      #search form .mainInput #inputs .inputItem1 h6 {
        position: relative;
        left: 35%;
        float: left; }
        @media (max-width: 767px) {
          #search form .mainInput #inputs .inputItem1 h6 {
            left: 25%; } }
      #search form .mainInput #inputs .inputItem1 select {
        font-weight: 600;
        position: relative;
        left: 40%;
        padding: 0 !important;
        margin-top: 10px;
        height: 35px;
        vertical-align: middle;
        border-radius: 5px;
        background: #ffb12c;
        cursor: pointer;
        width: 60px !important;
        font-size: 14px; }
        @media (max-width: 767px) {
          #search form .mainInput #inputs .inputItem1 select {
            height: 30px;
            width: 55px !important;
            font-size: 12px;
            left: 30%; } }
    #search form .mainInput #inputs span {
      color: #525252; }
    #search form .mainInput #inputs input {
      border-color: #ffb12c;
      display: inline-block;
      width: 75px; }
  #search form .tehcizat {
    width: 100%; }
    @media (max-width: 479px) {
      #search form .tehcizat .tehcizatItem {
        width: 80% !important;
        margin: 0 auto !important;
        margin-left: 20px !important;
        margin-top: 20px !important; } }
    @media (min-width: 479px) and (max-width: 767px) {
      #search form .tehcizat .tehcizatItem {
        padding-left: 30px !important;
        margin-top: 40px !important; }
        #search form .tehcizat .tehcizatItem:nth-child(4) {
          margin-top: -90px !important; } }
    #search form .tehcizat .tehcizatItem label {
      margin-top: 5px; }
      #search form .tehcizat .tehcizatItem label span {
        cursor: pointer;
        margin-left: 10px; }
  @media (max-width: 767px) {
    #search form .addForm .btnAdd {
      margin: 0 auto;
      left: 15px; } }

/*# sourceMappingURL=style2.css.map */
